/* global */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body{
    background-image: url("./Mountain.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
/* header */
header{
    padding-left: 12rem;
    padding-top: 5rem;
    padding-bottom: 3rem
}

.lobos{
    font-size: 4.6rem;
    color: #fdf9f6;
}

h1{
    font-family: 'Comfortaa', cursive;
    font-size: 5rem;
    color: #fdf9f6;
    margin-bottom: 12rem;
    display: inline;
}

.social{
    font-size: 2rem;
    /* margin-left: 82%; */
    padding-left: 59.5%;
    color: #fdf9f6;
    display: inline;
}

/* content */

button.nonselect{
    margin-top: .7rem;
    background-color: #fdf9f6ad;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: #41080d;
    margin-left: 12rem;
    padding-left: 2rem;
    width: 20rem;
    height: 5rem;
    border-bottom-left-radius: 1.5rem;
    border: 0;
    text-align: left;
}

button.select{
    margin-top: .7rem;
    background-color: #fdf9f6e7;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: #41080d;
    margin-left: 12rem;
    padding-left: 2rem;
    width: 22rem;
    height: 5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: ;
    border: 0;
    text-align: left;
}

button:hover{
    cursor: pointer;
    background-color: #fdf9f6e7;
}

.content p{
    text-align: left;
    background: #fdf9f6e7;
    font-family: 'Comfortaa', cursive;
    color: #41080df6;
    /* color: #fdf9f6; */
    font-size: 2rem;
    padding: 2rem;
    /* margin-left: 4%; */
    margin-right: 16%;
    margin-top: .8%;
    border-radius: 1rem;
    /* border-top-left-radius: 0rem; */
    /* border-radius: 1rem */
}

.content {
    display: flex
}

ul{ 
    text-align: left;
    background: #fdf9f6e7;
    font-family: 'Comfortaa', cursive;
    color: #41080df6;
    /* color: #fdf9f6; */
    font-size: 2rem;
    padding: 2rem;
    /* margin-left: 4%; */
    margin-right: 16%;
    margin-top: .8%;
    border-radius: 1rem;
}
ul p{
    background-color: none;
}

li{
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding-top: 3rem;
}

li.secondary{
    list-style-type: none;
    font-size: 1.5rem;
    text-indent: rem;
    margin-top: -.6rem;

}
